.login-card {
    padding: 20px;
}

.login-card h1 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 20px;
}

.login-card input, .login-card input:focus {
    background-color: #FFFFFF;
}

.login-submit {
    margin-top:48px;
    margin-bottom: 64px;
}

@media (min-width: 576px) {
    .login-submit {
        margin-top:72px;
        margin-bottom: 136px;
    }
}